@import "colors";

.main table {
  border-collapse: collapse;
  margin: 0 auto 15px auto;
}

.main table, th, td {
  border: 1px $text-color solid;
}

.main table th, td {
  padding: 10px;
}

.badge-compat-status {
  border: 2px solid;
  padding: 2px 10px;
  border-radius: 5px;
}

.badge-compat-full {
  color: adjust-color(#1ebc61, $alpha: -0.2);
  border-color: adjust-color(#1ebc61, $alpha: -0.2);
}

.badge-compat-no-mp {
  color: adjust-color(#f9b32f, $alpha: -0.2);
  border-color: adjust-color(#f9b32f, $alpha: -0.2);
}

.badge-compat-basic {
  color: adjust-color(#e74c3c, $alpha: -0.2);
  border-color: adjust-color(#e74c3c, $alpha: -0.2);
}

.badge-compat-unsupported {
  color: adjust-color(#a9a9b3, $alpha: -0.2);
  border-color: adjust-color(#a9a9b3, $alpha: -0.2);
}